name: CI build

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-archlinux:
    name: Build for Arch Linux (x86_64)
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install Base Dependencies
      run: |
        pacman -Syu --noconfirm
        pacman -S --noconfirm \
          base-devel \
          cmake \
          libjpeg-turbo \
          libogg \
          libopenmpt \
          libpng \
          libvorbis \
          mpg123 \
          ninja \
          sdl2-compat \
          sudo

    - name: Create Builder User
      run: |
        useradd -m builder
        echo "builder ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/builder
        chmod 0440 /etc/sudoers.d/builder

    - name: Fix Directory Permissions
      run: |
        chown -R builder:builder .

    - name: Build PvZ-Portable
      run: |
        sudo -u builder bash -lc '
          mkdir build
          cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build

          mkdir -p dist
          cp build/pvz-portable dist/
          strip dist/pvz-portable
        '

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: pvz-portable-archlinux
        path: dist/

  build-windows-msys2-ucrt64:
    name: Build for Windows (MSYS2 UCRT64)
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        update: true
        install: >-
          base-devel
          mingw-w64-ucrt-x86_64-cmake
          mingw-w64-ucrt-x86_64-gcc
          mingw-w64-ucrt-x86_64-libjpeg-turbo
          mingw-w64-ucrt-x86_64-libopenmpt
          mingw-w64-ucrt-x86_64-libogg
          mingw-w64-ucrt-x86_64-libpng
          mingw-w64-ucrt-x86_64-libvorbis
          mingw-w64-ucrt-x86_64-mpg123
          mingw-w64-ucrt-x86_64-ninja
          mingw-w64-ucrt-x86_64-ntldd
          mingw-w64-ucrt-x86_64-SDL2

    - name: Compile PvZ-Portable for Windows
      shell: msys2 {0}
      run: |
        mkdir build
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DCONSOLE=OFF -DCMAKE_COLOR_DIAGNOSTICS=ON
        cmake --build build
        
        mkdir -p dist
        
        cp build/pvz-portable.exe dist/
        strip dist/pvz-portable.exe
        
        echo "Collecting dependencies..."
        ntldd -R dist/pvz-portable.exe \
          | grep "=>" \
          | awk '{print $3}' \
          | grep -vE '^not$' \
          | grep -ivE '[\\/]windows[\\/]' \
          | sed 's/\\/\//g' \
          | sort -u \
          | xargs -I {} cp "{}" dist/

        echo "Packed files:"
        ls -lh dist/

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: pvz-portable-windows-msys2-ucrt64
        path: dist/

  build-windows-msvc-x64:
    name: Build for Windows (MSVC x64)
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: ilammy/msvc-dev-cmd@v1

    - name: Install Ninja
      run: choco install ninja -y

    - name: Setup vcpkg (manifest mode)
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgJsonGlob: vcpkg.json

    - name: Compile PvZ-Portable for Windows (MSVC)
      shell: pwsh
      run: |
        cmake -G "Ninja" -B build -DCMAKE_BUILD_TYPE=Release -DCONSOLE=OFF -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows-static
        cmake --build build

        New-Item -ItemType Directory -Force -Path dist | Out-Null
        Copy-Item build/pvz-portable.exe dist/

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: pvz-portable-windows-msvc-x64
        path: dist/

  # build-switch:
  #   name: Build for Switch
  #   runs-on: ubuntu-latest
  #   container:
  #     image: devkitpro/devkita64:latest
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0

  #     - name: Compile libopenmpt for Switch
  #       shell: bash
  #       run: |
  #         source $DEVKITPRO/switchvars.sh
  #         git clone https://github.com/OpenMPT/openmpt
  #         cd openmpt
  #         make CONFIG=gcc SHARED_LIB=0 DYNLINK=0 EXAMPLES=0 OPENMPT123=0 TEST=0 PREFIX=$PORTLIBS_PREFIX install 

  #     - name: Compile PvZ-Portable for Switch
  #       shell: bash
  #       run: |
  #         source $DEVKITPRO/switchvars.sh
  #         mkdir build
  #         cd build
  #         aarch64-none-elf-cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS_RELEASE=-O2
  #         make
  #         aarch64-none-elf-strip pvz-portable.elf

  #     - name: Upload Artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: pvz-portable-switch
  #         path: |
  #           ./build/pvz-portable.nro
  #           ./build/pvz-portable.elf

  build-macos:
    name: Build for macOS (aarch64)
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install Dependencies
      run: |
        brew update
        brew install cmake \
          dylibbundler \
          jpeg-turbo \
          libogg \
          libopenmpt \
          libpng \
          libvorbis \
          mpg123 \
          ninja \
          sdl2

    - name: Build PvZ-Portable
      run: |
        mkdir build
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build

        mkdir -p dist
        mkdir -p dist/libs
        cp build/pvz-portable dist/
        strip -x dist/pvz-portable

        echo "Bundling dependencies..."
        dylibbundler -of -b -x dist/pvz-portable -d dist/libs -p @executable_path/libs/

        codesign --force --deep -s - dist/pvz-portable

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: pvz-portable-macos
        path: dist/

  release:
    name: Release
    needs: ['build-archlinux', 'build-windows-msys2-ucrt64', 'build-windows-msvc-x64', 'build-macos']
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Prepare Release Files
      run: |
        mkdir release_files

        echo "Preparing Arch Linux file..."
        chmod +x artifacts/pvz-portable-archlinux/pvz-portable
        mv artifacts/pvz-portable-archlinux/pvz-portable release_files/pvz-portable-linux-x86_64

        echo "Preparing Windows MSVC file..."
        mv artifacts/pvz-portable-windows-msvc-x64/pvz-portable.exe release_files/pvz-portable-windows-x64-static.exe

        echo "Preparing Windows MSYS2 file..."
        cd artifacts/pvz-portable-windows-msys2-ucrt64
        zip -r ../../release_files/pvz-portable-windows-ucrt64.zip .
        cd ../..

        echo "Preparing macOS file..."
        cd artifacts/pvz-portable-macos
        chmod +x pvz-portable
        zip -r -y ../../release_files/pvz-portable-macos-aarch64.zip .
        cd ../..

        echo "Final files:"
        ls -lh release_files/

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: release_files/*
        generate_release_notes: true
        draft: false
        prerelease: false
